
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.timeline-box {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Acumin Pro', sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: #828282;
}

/**	------------------------------------------------------------NAVIGATION BAR-------------------------------------------------------------------------------------*/
header {
	display: flex;
	height: 20vh;
	width: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: 2px;
	word-spacing: 0px;
	z-index: 10000;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	justify-content: space font-size: 30px;
}

.logo-container, .nav-links, .cart {
	display: flex;
	align-items: center;
	width: 200px;
	/* width: auto; */
}

.logo-container {
	flex: 1;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 30px;
	/* width: 20%; */
	z-index: 1000;
	margin-left: 50px;
}

.logo {
	font-weight: 400;
}

	.logo img {
		height: 100%;
		width: 50%;
	}

nav {
	margin-left: 37%;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.nav-links {
	height: 7vh;
	justify-content: space-around;
	list-style: none;
	align-items: center;
}

.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
	transition: 0.3s;
}

	.nav-link:hover {
		font-size: 30px;
	}

.cart {
	flex: 1;
	justify-content: flex-end;
}

/**	-----------------------------------------------------------SPLASH ANIMATION AREA--------------------------------------------------------------	**/
/*Top Body*/

/*Top  Body Animation divs */
.animation-area {
	position: relative;
	width: 100%;
	animation: bg-animation 5s infinite;
}

.background-image {
	text-align: center;
	z-index: -2;
	overflow: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: fill;
}

.box-area {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

	.box-area li {
		z-index: -2;
		overflow: hidden;
		position: absolute;
		list-style: none;
		animation: animate 20s linear infinite;
		border-radius: 100%;
		/* filter: drop-shadow(0px 50px 30px black); */
	}

		.box-area li:nth-child(1) {
			top: 100%;
			left: 36%;
			width: 80px;
			height: 80px;
			animation-delay: 0s;
			border-radius: 100%;
			background-image: url("img/codeImg.png");
			background-size: cover;
		}

li {
}

.box-area li:nth-child(2) {
	top: 100%;
	left: 62%;
	width: 90px;
	height: 90px;
	animation-delay: 1.5s;
	animation-duration: 10s;
	border-radius: 100%;
	background-image: url(img/bug.png);
	background-size: cover;
}

.box-area li:nth-child(3) {
	top: 100%;
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 5.5s;
	border-radius: 100%;
	background-image: url(img/chatIcon.png);
	background-size: cover;
}

.box-area li:nth-child(4) {
	top: 100%;
	left: 30%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 15s;
	/* border-radius: 100%; */
	background-image: url(img/coffeeIcon.png);
	background-size: cover;
}

.box-area li:nth-child(5) {
	top: 100%;
	left: 65%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
	border-radius: 100%;
	background-image: url(img/gearIcon.png);
	background-size: cover;
}

.box-area li:nth-child(6) {
	top: 100%;
	left: 55%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
	border-radius: 100%;
	background-image: url(img/skillsicon1.png);
	background-size: cover;
}

.presentation {
	position: relative;
	width: 100%;
	margin: auto;
	min-height: 20vh;
	flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
}

.introduction {
	background-image: url('/img/derry.jpg');
	width: 100%;
	position: relative;
	height: 100%;
	background: transparent;
	margin-top: 2%;
	text-align: center;
	animation: drop 1.5s ease;
}

.intro-text h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: -2px;
	word-spacing: 0px;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 60px;
	animation: drop 1.5s ease;
	/* Background colour is clipped to the text */
	color: white;
	text-shadow: 11px 11px 20px #1b20c7, -9px 10px 50px #1b20c7;
}

.intro-text p {
	animation: drop 1.5s ease;
	margin-top: 10px;
	font-size: 30px;
	opacity: 0.7;
	color: white;
	text-shadow: 11px 11px 20px #1b20c7, -9px 10px 50px #1b20c7;
}

.cover {
	animation: drop 1.5s ease;
	padding: 50px,0px,0px,60px;
	vertical-align: baseline;
	padding-top: 60px;
	padding-bottom: 5%;
	height: 50%;
}

	.cover img {
		padding: 50px;
		position: relative;
		animation: drop 1.5s ease;
		height: 30%;
		width: 30%;
		filter: drop-shadow(0px 50px 30px black);
	}

.bottomcover {
	padding: 0px,0px,0px, 0px;
	vertical-align: baseline;
}

	.bottomcover img {
		height: 30vh;
	}

.content-container {
}

/**---------------------------------------------------------INTRODUCTION SECTION------------------------------------------------------------------**/
.Bio {
	display: flex;
	min-height: 90vh;
	width: 100%;
	border-radius: 150px 150px 0px 0px;
	background-image: linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(321deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(334deg, hsl(247,0%,2%),hsl(247,0%,2%));
}

.bio-intro-wrapper-left {
	position: relative;
	display: flex;
	width: 100%;
	height: 80%;
	padding: 100px;
	top: 20px;
}

.bio-text {
	display: flex;
	box-shadow: 5px 5px 8px 5px #000000;
	position: relative;
	z-index: 100;
	height: 270px;
	left: 5%;
	width: 60%;
	top: 30%;
	background-color: #323535e3;
}

.bio-title {
	border-color: #000000;
	position: absolute;
	width: 100%;
	padding: 15px;
	justify-content: right;
	text-align: right;
}

	.bio-title h1 {
		color: #ffffff;
		font-family: "Arial Black", Gadget, sans-serif;
		letter-spacing: -2px;
		word-spacing: 0px;
		font-weight: 400;
		text-decoration: none;
		font-style: normal;
		font-variant: normal;
		text-transform: none;
		font-size: 30px;
	}

	.bio-title p {
		color: #ffffff;
		font-family: 'Runda', sans-serif;
		font-size: 18px;
		font-weight: 500;
		z-index: 0;
	}

.bio-image-container {
	position: absolute;
	z-index: 0;
	top: 200px;
	height: 100%;
	width: 40%;
	left: 55%;
	box-shadow: 5px 5px 8px 5px #000000;
	background-color: #323535e3;
}

	.bio-image-container img {
		width: 100%;
		height: 100%;
	}

.bio-intro-wrapper-right {
	position: relative;
	height: 50%;
	width: 100%;
}

.bio-qualifications-wrapper-right {
	position: relative;
	display: flex;
	margin: auto;
	height: 100%;
	width: 100%;
	/* padding: 50px; */
}

.bio-qualifications-text {
	top: 50px;
	left: 0%;
	position: relative;
	height: 60%;
	width: 60%;
	padding: 20px;
	justify-content: center;
	box-shadow: 5px 5px 8px 5px #000000;
	margin: auto;
	z-index: 100;
	background-color: #323535e3;
}

.bio-qualifications-title {
	position: relative;
	justify-content: center;
	top: 20px;
	padding: 0px;
	left: 30%;
	width: 40%;
	/* height: 50px; */
	text-align: center;
	/* background-color: #000000e3; */
}

	.bio-qualifications-title h1 {
		color: #ffffff;
		font-size: 36px;
		text-shadow: 11px 11px 20px #1b20c7, -9px 10px 50px #1b20c7;
	}

.bio-qualifications-text p {
	color: #ffffff;
	font-family: 'Runda', sans-serif;
	font-size: 20px;
	font-weight: 500;
	z-index: 0;
}

.bio-qualifications-text q {
	color: #888888;
	font-family: 'Runda', sans-serif;
	font-size: 16px;
	font-weight: bold;
	z-index: 0;
}

.bio-experience-wrapper {
	height: 50%;
	width: 100%;
	position: relative;
	padding: 70px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.bio-experience-text {
	position: relative;
	/* box-shadow: 5px 5px 8px 5px #000000; */
	width: 40%;
	left: 30%;
	z-index: 100;
	/* background-color: #000000e3; */
}

	.bio-experience-text h1 {
		font-family: 'Runda', sans-serif;
		margin-bottom: 15px;
		color: #ffffff;
		font-size: 36px;
		text-shadow: 11px 11px 20px #1b20c7, -9px 10px 50px #1b20c7;
	}

.bio-experience-boxes {
	padding: 30px;
	height: 300px;
	width: 100%;
	margin-left: 1.5em;
	display: flex;
	text-align: center;
	justify-content: center;
}

.bio-box {
	box-shadow: 5px 5px 8px 5px #000000;
	background-color: #323535e3;
	margin-right: 15px;
	width: 100%;
	padding: 10px;
}

	.bio-box h1 {
		font-family: 'Runda', sans-serif;
		margin-bottom: 15px;
		font-weight: 500;
		color: #ffffff;
		font-size: 20px;
	}

	.bio-box p {
		color: #ffffff;
		font-family: 'Runda', sans-serif;
		font-size: 12px;
		font-weight: 500;
		margin-bottom: 5px;
		z-index: 0;
	}

/** ------------------------------------------------------TIMELINE SECTION--------------------------**/

.timeline-container {
	height: 100%;
	/* justify-content: center; */
	/* align-items: center; */
	/* box-shadow: 5px 5px 8px 5px #410d71; */
	background-color: #323350;
	display: flex;
}

.timeline-bg {
	position: absolute;
	z-index: -1;
	height: 100%: width 100%;
}

.timeline-wrapper {
	width: 100%;
	height: 100%;
	position: page;
}

.timeline-text {
	height: 10%;
	color: #ffffff;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	padding: 20px 20px 70px 20px;
}

.skillset-wrapper-text h1 {
	color: #ffffff;
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: -2px;
	word-spacing: 0px;
	font-weight: 400;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 40px;
	text-shadow: 11px 11px 20px #1b20c7, -9px 10px 50px #1b20c7;
	top:;
}

.timeline-text h1 {
	color: #ffffff;
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: -2px;
	word-spacing: 0px;
	font-weight: 400;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 40px;
	text-shadow: 11px 11px 20px #1b20c7, -9px 10px 50px #1b20c7;
	top:;
}

.timeline {
	width: 90%;
	/* left: 20px; */
	height: 20px;
	list-style: none;
	align-items: center;
	text-align: justify;
	margin: 100px auto;
	color: white;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgb(0 255 2) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
	padding:;
	align-content:;
	margin-left: 5%;
}

	.timeline:after {
		display: inline-block;
		content: "";
		width: 100%;
	}

	.timeline li {
		display: inline-block;
		width: 20px;
		height: 20px;
		box-shadow: 0 0 10px #ffffff;
		background: #00ff02;
		text-align: center;
		line-height: 1.2;
		position: relative;
		border-radius: 50%;
	}

		.timeline li:before {
			display: inline-block;
			content: attr(data-year);
			font-size: 31px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		.timeline li:nth-child(odd):before {
			top: -40px;
		}

		.timeline li:nth-child(even):before {
			bottom: -40px;
		}

		.timeline li:after {
			display: inline-block;
			content: attr(data-text);
			font-size: 19px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		.timeline li:nth-child(odd):after {
			bottom: 0;
			margin-bottom: -10px;
			transform: translate(-50%, 100%);
		}

		.timeline li:nth-child(even):after {
			top: 0;
			margin-top: -10px;
			transform: translate(-50%, -100%);
		}


/*-------------------------------------------------------------SKILLS SECTION--------------------------------------------*/
.skill-wrapper {
	height: 100%;
	width: 100%;
	/* display: flex; */
	background-color: #323350;
}

.skills-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	/* padding: 0px 50px 50px 50px; */
}

.skillset-wrapper-text {
	height: 20%;
	color: #ffffff;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	padding: 20px 20px 20px 20px;
}

.skills {
	/* top: 20%; */
	position: relative;
	margin-right: 3%;
	padding: 20px;
	height: 75%;
	width: 33%;
	font-size: 12px;
	list-style: none;
	color: #ffeded;
	/* box-shadow: 5px 5px 8px 5px #410d71; */
	/* background-color: #ffffffe3; */
}

	.skills h1 {
		font-size: 24px;
	}

	.skills p {
		font =size: 26px;
		color: #fbff00;
	}

	.skills li {
		margin: 20px;
		font-size: 14px;
	}

.bar {
	background: #ffffff;
	display: block;
	height: 10px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px #ffffff;
}

	.bar span {
		height: 10px;
		float: left;
		background: #44d43f;
	}

.html {
	width: 90%;
	animation: html 2s;
}

.css {
	width: 65%;
	animation: css 2s;
}

.jquery {
	width: 90%;
	animation: jquery 2s;
}

.javascript {
	width: 65%;
	animation: javascript 2s;
}

.vbnet {
	width: 65%;
	animation: vbnet 2s;
}

.photoshop {
	width: 90%;
	animation: photoshop 2s;
}

.illustrator {
	width: 45%;
	animation: illustrator 2s;
}

.lightroom {
	width: 10%;
	animation: lightroom 2s;
}

.gimp {
	width: 55%;
	animation: gimp 2s;
}

.dsmax {
	width: 90%;
	animation: dsmax 2s;
}

.blender {
	width: 65%;
	animation: blender 2s;
}

.texturing {
	width: 90%;
	animation: texturing 2s;
}

.rigging {
	width: 50%;
	animation: rigging 2s;
}

.danimation {
	width: 65%;
	animation: danimation 2s;
}

.fl20 {
	width: 72%;
	animation: fl20 2s;
}

.liverec {
	width: 35%;
	animation: liverec 2s;
}

.eq {
	width: 20%;
	animation: eq 2s;
}

.production {
	width: 45%;
	animation: production 2s;
}

.work {
	background-color: white;
}

/*--------------------------------------------------------------------------------------------------BIO 2 SECTION-------------------------------------------------------------------------------------------*/
.bio2 {
	position: relative;
	display: flex;
	top: 0px;
	height: 65vh;
	width: 100%;
	z-index: 0;
	border-filter: drop-shadow(5px 0px 3px #6d24bd);
	background-image: linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(321deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(334deg, hsl(247,0%,2%),hsl(247,0%,2%));
}

.bio2-text-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60%;
	left: 50px;
	width: 20%;
	/* height: 300px; */
	top: 5%;
	box-shadow: 5px 5px 8px 5px #000000;
	background-color: #323535e3;
}

.bio2-title {
	border-color: #000000;
	position: relative;
	width: 50%;
	height: 80%;
	text-align: center;
	justify-content: center;
	align-items: center;
	z-index: 10000;
}

.bio2-bottom-container {
	position: relative;
	justify-content: center;
	align-items: center;
	left: 0px;
	width: 70%;
	height: 100%;
	top: 0;
}

.bio2-bottom-title h1 {
	color: #000000;
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: -2px;
	word-spacing: 0px;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 30px;
	padding-bottom: 20px;
}

.bio2-title h1 {
	color: #ffffff;
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: -2px;
	word-spacing: 0px;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 30px;
	padding-bottom: 20px;
}

.bio2-title p {
	color: #ffffff;
	font-family: 'Runda', sans-serif;
	font-size: 20px;
	font-weight: 500;
	z-index: 0;
}

.bio-gallery {
	position: relative;
	left: 20%;
	width: 80%;
	height: 70%;
	top: 20%;
	border: 2px solid #000000;
	border-radius: 7px;
	outline: none;
	box-shadow: 5px 5px 8px 5px #000000;
	background-color: #323535e3;
}

div#slider {
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin-left: 0px;
}

	div#slider figure img {
		overflow: hidden;
		width: 10%;
		height: 100%;
		float: center;
	}

	div#slider figure {
		position: relative;
		width: 1000%;
		height: 100%;
		margin: 0;
		left: 0;
		text-align: left;
		font-size: 0;
		animation: 30s slidy infinite;
	}

@keyframes slidy {
	0% {
		left: 0%;
	}

	20% {
		left: -100%;
	}

	40% {
		left: -200%;
	}

	60% {
		left: -300%;
	}

	80% {
		left: -400%;
	}

	100% {
		left: 0%;
	}
}

/*-------------------------------------------------------------------------------------------------HOBBIES SECTION-------------------------------------------------------------------------------------*/
.wrapper {
	position: relative;
	top: -100px;
	flex: column;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 20px;
	width: 50%;
	height: 450px;
	margin: 5px auto;
	align-items: center;
	color: #000000;
}

	.wrapper a {
		height: 100%;
		color: inherit;
		text-decoration: none;
	}

.column {
	height: 100%;
	float: left;
	width: 100%;
	background: #ffffff;
	box-shadow: 1px 1px 20px #f76210;
	text-align: center;
	transition: 0.9s;
	border-radius: 15px;
}

	.column h1 {
		font-family: "Arial Black", Gadget, sans-serif;
		letter-spacing: -2px;
		word-spacing: 0px;
		font-weight: 700;
		text-decoration: none;
		font-style: normal;
		font-variant: normal;
		text-transform: none;
		font-size: 30px;
		margin-top: 10px;
	}

.column-icon {
	width: 140px;
	height: 140px;
	margin: 5% auto 0 auto;
	text-align: center;
	border-radius: 50%;
}

.column img {
	margin-top: 15%;
	height: 60%;
}

.work-title {
	flex: 1;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 5% auto 0 auto;
}

.work-container {
	top: -100px;
	flex: column;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 20px;
	width: 50%;
	height: 450px;
	margin: 50px auto 0 auto;
	align-items: center;
	color: #000000;
}

.column-details {
	margin-top: 10%;
}

.column:hover {
	background: #000000;
	color: #ffa366;
	box-shadow: 0 0 15px #ffa366;
	transform: scale(1.2,1.2);
	z-index: 25px;
}

/**--------------------------------------------------------------------------------------------------PROJECTS SECTION -----------------------------------------------------------------------------------*/
/**----------------------------------------------------------------------------------------------------PROJECT TABS -----------------------------------------------------------------------------------*/
.projects-section {
	border-filter: box-shadow: 5px 5px 8px 5px #410d71;
	height: 90vh;
	width: 100%;
	background-color: #323350;
	display: flex;
}

.projects-title {
	justify-content: center;
	text-align: center;
	padding: 20px;
	width: 100%;
	height: 100%;
	/* background-color: #302e99; */
}

	.projects-title h1 {
		font-size: 40px;
		color: white;
		text-shadow: 11px 11px 20px #1b20c7, -9px 10px 50px #1b20c7;
	}

.projects-bg img {
	overflow: hidden;
	position: absolute;
	z-index: -1;
	height: 50%: width 50%;
	object-fit: contain;
}
/*Tabs*/
.mytabs {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding: 55px;
	position: relative;
	z-index: 1;
	justify-content: center;
	/* align-items: center; */
	/* font-size: 12px; */
	/* margin-left: 5%; */
}

	.mytabs input[type="radio"] {
		display: none;
	}
	/** Projects Label Style **/
	.mytabs label {
		color: white;
		padding: 10px;
		font-size: 15px;
		font-weight: bold;
		height: 7%;
		position: relative;
		top: 6%;
		margin: 0 10px 10px 0;
		border-radius: 5px;
		box-shadow: 0 2px rgb(0 0 0 / 20%);
		color: #ffffff;
		opacity: 0.8;
	}
		/**Graphics Projects Label **/
		.mytabs label[for="tabproj1"] {
			background: #d7d7d7;
		}

		.mytabs label[for="tabproj2"] {
			background: #bcbcbc;
		}

		.mytabs label[for="tabproj3"] {
			background: #bcbcbc;
		}
		/**3D Projects Label**/
		.mytabs label[for="tabproj4"] {
			background: #373448;
		}

		.mytabs label[for="tabproj5"] {
			background: #373448;
		}

		.mytabs label[for="tabproj6"] {
			background: #373448;
		}

	.mytabs .tab {
		display: flex;
		display: none;
		height: 80%;
		width: 100%;
		padding: 20px;
		background: #494b4b;
		z-index: -2;
		order: 1;
		border-radius: 0px 0px 0px 0px;
		overflow: auto;
		box-shadow: 5px 5px 8px 0px #000000;
	}

		.mytabs .tab h2 {
			color: white;
			font-size: 50px;
			margin-bottom: 10px;
			font-family: 'Runda', sans-serif;
		}

		.mytabs .tab p {
			color: white;
			font-family: 'Runda', sans-serif;
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 20px;
		}

.picandvid {
	position: relative;
	height: 40% width 40%;
	display: flex;
}

.picandvid1 {
	position: relative;
	height: 50%;
	width: 90%;
	display: flex;
	left: 30%;
}

.mytabs .tab .picandvid1 {
	position: relative;
	display: flex;
	width: 100%;
	margin-right: 15px;
	height: 285px;
}

.mytabs .tab img {
	position: relative;
	width: 50%;
	margin-right: 15px;
	height: 285px;
}

.mytabs .tab iframe {
	width: 50%;
	margin-right: 15px;
}
/** Tab Styles When checked **/
.mytabs input[type='radio']:checked + label + .tab {
	display: block;
}

.mytabs input[type='radio'], [id=tabproj4]:checked + label + .tab {
	background: #25232f;
}

.mytabs input[type='radio'], [id=tabproj5]:checked + label + .tab {
	background: #25232f;
}

.mytabs input[type='radio'], [id=tabproj6]:checked + label + .tab {
	background: #25232f;
}
	/** Label Checked Styles **/
	.mytabs input[type="radio"]:checked + label {
		margin-bottom: 0;
		/* padding-bottom: 5px; */
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		z-index: -2;
		opacity: 1;
		top: 7.5%;
		font-size: 15px;
	}
/** Graphics/animation Projects labels **/
.mytabs input[type="radio"], [id=tabproj1]:checked + label {
	background: #494b4b;
}

.mytabs input[type="radio"], [id=tabproj2]:checked + label {
	background: #494b4b;
}

.mytabs input[type="radio"], [id=tabproj3]:checked + label {
	background: #494b4b;
}
/** 3D Projects tabs**/
.mytabs input[type="radio"], [id=tabproj4]:checked + label {
	background: #25232f;
}

.mytabs input[type="radio"], [id=tabproj5]:checked + label {
	background: #25232f;
}

.mytabs input[type="radio"], [id=tabproj6]:checked + label {
	background: #25232f;
}
/**----------------------------------------------------------------------------------------------------SOFTWARE PROJECT PANELS -----------------------------------------------------------------------------------*/
/* Software Project Section*/
.projects-software-wrapper {
	padding: 50px;
	height: 100%;
	width: 100%;
	text-align: center;
	/* margin: 20px; */
	overflow: hidden;
	border-radius: 5px;
	padding: 20px;
	/* border: 1px dashed #444; */
	/* color: #302e99; */
	background-color: #323350;
}

.software-p-cards {
	width: 100%;
	flex-wrap: wrap;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-wrapper {
	text-align: center;
	margin: 20px;
	overflow: hidden;
	border-radius: 5px;
	padding: 10px;
	width: 20%;
	background: gray;
	border: 3px solid black;
	height: 30%;
	box-shadow: 5px 5px 8px 0px #000000;
}

.projects-software-wrapper h1 {
	font-size: 40px;
	color: white;
	text-shadow: 11px 11px 20px #1b20c7, -9px 10px 50px #1b20c7;
}

.project-image {
	width: 60%;
	padding: 5px;
	margin-top: 5px;
	border-radius: 5px;
	max-width: 250px;
}

.project-body {
	color: black;
	padding: 5px;
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.image-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0%;
	top: 30%;
	width: 80%;
	height: 300px;
	box-shadow: 5px 5px 8px 5px #410d71;
	background-color: #323535e3;
}

/**----------------------------------------------------------------------------------------------------- COLLAB SECTION ---------------------------------------------------------------------------------------*/
.collab-container {
	width: 100%;
	display: block;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
	padding-top: 100px;
	background-image: linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(321deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(334deg, hsl(247,0%,2%),hsl(247,0%,2%));
}

.collab-text {
	text-align: center;
}

	.collab-text h1 {
		color: #6d24bd;
		font-family: "Arial Black", Gadget, sans-serif;
		letter-spacing: -2px;
		word-spacing: 0px;
		font-weight: 700;
		text-decoration: none;
		font-style: normal;
		font-variant: normal;
		text-transform: none;
		font-size: 30px;
		padding-bottom: 20px;
	}

	.collab-text p {
		color: #ffffff;
		font-family: 'Runda', sans-serif;
		font-size: 20px;
		font-weight: 500;
		z-index: 0;
	}

.collab-contact-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	width: 100%;
}

.form-container {
	margin-left: 100px;
	margin-top: 40px;
	justify-content: center;
	align-content: : center;
	width: 80%;
	border-radius: 7px;
	outline: none;
	border-color: #ffffff;
	box-shadow: 0 0 60px 20px #6d24bd;
}

.collab-button {
	justify-content: center;
	align-content: : center;
}

.insta-post {
	/* margin-left: 80px; */
	flex: 1;
	margin-top: 20px;
	/* height: 800px; */
	padding: 40px 40px 0px 0px;
}

.contact-container {
	position: absolute;
	height: 50vh;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 20px #00000010;
	background-color: #ffffff;
	border-radius: 8px;
	margin-bottom: 20px;
}

.form-group {
	padding: 20px 10px 10px 10px;
	width: 100%;
	align-items: center;
	margin: auto;
	color: #a5a5a5;
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: -2px;
	word-spacing: 0px;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 20px;
	padding-bottom: 20px;
	z-index: 0;
}

	.form-group input,
	.form-group textarea {
		outline-style: none;
		width: 100%;
		padding: 5px;
		background-color: #000000;
		margin-left: auto;
		color: #ffffff;
		font-family: 'Runda', sans-serif;
		font-size: 20px;
		font-weight: 500;
		z-index: 0;
		background-color: rgb(255,0,0,0);
		margin-top: 5px;
	}

textarea {
	resize: vertical;
	opacity: 1;
}

.form-button {
	padding: 10px;
	width: 80%;
	align-items: center;
	margin: auto;
	text-align: center;
}

button[type="submit"] {
	display: inline-block;
	padding: .75rem 1.25rem;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: .15rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 50%;
	border: none;
	outline: none;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	border-radius: 8px;
	font-family: 'Runda', sans-serif;
	color: #ffffff;
	background-color: rgb(109, 36,189,0.2);
	margin: auto;
	cursor: pointer;
	margin-top: 10px;
	transition: 0.3s ease background-color;
}

	button[type="submit"]:hover {
		color: #000000;
		background-color: rgb(214, 226, 236);
	}

#status {
	width: 90%;
	max-width: 500px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	border-radius: 8px 8px 0px 0px;
}

	#status.success {
		background-color: rgb(211, 250, 153);
		animation: status 4s ease forwards;
	}

	#status.error {
		background-color: rgb(250, 129, 92);
		color: white;
		animation: status 4s ease forwards;
	}

/*	 ----------------------------------------------------------------------------------------------------SMALL SCREEN REACTIVE CODE ------------------------------------------------------------------------------------------*/
@media screen and (max-width:1440px) {

	.projects-section {
		display: grid;
		height: 200vh;
	}

	.timeline-container {
		display: grid;
	}

	.timeline-wrapper {
		height: 100%;
	}

	.Bio {
		display: block;
		min-height: 20vh;
	}


	.bio2 {
		height: 81vh;
		padding: 10px;
	}

	.bio2-text-container {
		height: 50%;
		width: 25%;
		top: 14%;
	}

	.work {
		height: 1300px;
	}

	.wrapper {
		display: grid;
	}

	div.item {
	}

	.nav-links {
		padding-right: 2px;
		padding-left: 2px;
	}

	.introduction {
		top: 20%;
	}

	.media {
		position: absolute;
		top: 140%;
		transform: translate(-53%, -50%);
	}
}

.main-container {
	width: 100%;
}
/* 	------------------------------------------------------------------------------------------------------WIDE SCREEN REACTIVE CODE---------------------------------------------------------------------------------------------*/
@media screen and (min-width: 4000px) {
	.main-container {
		width: 70%;
		display: inline-grid;
		align-items: center;
		position: relative;
		left: 15%;
		box-shadow: 0 50px 90px rgb(43 43 43 / 95%);
	}

	.projects-section {
		display: grid;
		height: 100vh;
	}

	.timeline-container {
		display: grid;
		height: 80vh;
	}

	.skillset-wrapper-text {
	}

	.timeline-wrapper {
		height: 100%;
	}

	.Bio {
		height: 10vh;
	}

	.bio-image-container {
		height: 60%;
	}

	.bio-experience-text h1 {
		font-size: 100px;
	}

	.bio-experience-boxes {
		padding: 10px;
		height: 130%;
		width: 100%;
	}

	.bio-box h1 {
		font-size: 60px;
	}

	.bio-box p {
		font-size: 42px;
	}

	.bio-qualifications-text {
		/* top: 100px; */
		position: relative;
		height: 60%;
		width: 60%;
	}

	.bio-text {
		height: 950px
	}

	.bio-title h1 {
		font-size: 100px;
	}

	.bio-title p {
		font-size: 50px;
	}

	.bio-qualifications-title h1 {
		font-size: 100px;
		text-shadow: 11px 11px 20px #1b20c7, -9px 10px 50px #1b20c7;
	}

	.bio-qualifications-text p {
		font-size: 60px;
	}

	.bio-qualifications-text q {
		font-size: 50px;
	}

	.bio2 {
		height: 50vh;
		padding: 10px;
	}

	.bio2-title h1 {
		font-size: 100px;
	}

	.bio2-title p {
		font-size: 60px;
	}

	.bio-title p {
		font-size: 50px;
	}

	.skills h1 {
		font-size: 70px;
	}

	.skills p {
		font-size: 60px;
	}

	.skills li {
		font-size: 50px;
	}

	.bar {
		height: 20px;
	}

	.bio2-text-container {
		height: 70%;
		width: 25%;
		top: 14%;
	}

	.timeline li:nth-child(even):before {
		font-weight: bold;
		bottom: -100px;
		font-size: 60px;
	}

	.timeline li:nth-child(even):after {
		font-weight: bold;
		bottom: -150px;
		font-size: 50px;
	}

	.timeline li:nth-child(odd):before {
		top: -160px;
		font-weight: bold;
		font-size: 80px;
	}

	.timeline li:nth-child(odd):after {
		bottom: -40px;
		font-size: 60px;
		font-weight: bold;
	}

	.timeline-text {
		padding: 29px 20px 240px 20px;
	}

	.skillset-wrapper-text h1 {
		font-size: 100px;
		text-shadow: 11px 11px 20px #1b20c7, -9px 10px 50px #1b20c7;
	}

	.timeline-text h1 {
		font-size: 100px;
		text-shadow: 11px 11px 20px #1b20c7, -9px 10px 50px #1b20c7;
	}

	.projects-title h1 {
		font-size: 100px;
		text-shadow: 11px 11px 20px #1b20c7, -9px 10px 50px #1b20c7;
	}

	.work {
		height: 1300px;
	}

	.wrapper {
		display: grid;
	}

	div.item {
	}

	.nav-links {
		padding-right: 2px;
		padding-left: 2px;
	}

	.introduction {
		top: 20%;
	}

	.media {
		position: absolute;
		top: 140%;
		transform: translate(-53%, -50%);
	}

	.mytabs .tab p {
		font-size: 50px;
	}

	.mytabs .tab img {
		height: 800px;
	}

	.mytabs .tab iframe {
		width: 50%;
		margin-right: 15px;
		height: 800px;
	}

	.mytabs input[type="radio"]:checked + label {
		font-size: 50px;
		width: 10%;
	}

	.mytabs label {
		width: 10%;
		font-size: 40px;
		z-index: 10;
	}

	.form-group {
		font-size: 50px;
	}

	.projects-software-wrapper h1 {
		font-size: 100px;
		text-shadow: 11px 11px 20px #1b20c7, -9px 10px 50px #1b20c7;
	}


	.project-wrapper {
		height: 400px;
	}

	.collab-text h1 {
		font-size: 60px;
	}

	.collab-text p {
		font-size: 50px;
	}

	button[type="submit"] {
		font-size: 50px;
	}
}

/*				------------------------------------------------------------------------------------------ANIMATION CODE --------------------------------------------------------------------------------------------- */
@keyframes status {
	0% {
		opacity: 1;
		pointer-events: all;
	}

	90% {
		opacity: 1;
		pointer-events: all;
	}

	100% {
		opacity: 0;
		pointer-events: none;
	}
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0);
		opacity: 1;
	}

	30% {
		opacity: 0;
	}

	100% {
		transform: translateY(-1400px) rotate(360deg);
		opacity: 0;
	}
}

@keyframes drop {
	0% {
		opacity: 0%;
		transform: translateY(-80px);
	}

	100% {
		opacity: 100%;
		transform: translateY(0pc);
	}
}
/*SKILL BARS ANIMATION*/
@keyframes html {
	0% {
		width: 0%;
	}

	100% {
		width: 90%;
	}
}

@keyframes css {
	0% {
		width: 0%;
	}

	100% {
		width: 65%;
	}
}

@keyframes jquery {
	0% {
		width: 0%;
	}

	100% {
		width: 90%;
	}
}

@keyframes javascript {
	0% {
		width: 0%;
	}

	100% {
		width: 65%;
	}
}

@keyframes vbnet {
	0% {
		width: 0%;
	}

	100% {
		width: 65%;
	}
}

@keyframes photoshop {
	0% {
		width: 0%;
	}

	100% {
		width: 90%;
	}
}

@keyframes illustrator {
	0% {
		width: 0%;
	}

	100% {
		width: 45%;
	}
}

@keyframes lightroom {
	0% {
		width: 0%;
	}

	100% {
		width: 10%;
	}
}

@keyframes gimp {
	0% {
		width: 0%;
	}

	100% {
		width: 55%;
	}
}

@keyframes dsmax {
	0% {
		width: 0%;
	}

	100% {
		width: 90%;
	}
}

@keyframes blender {
	0% {
		width: 0%;
	}

	100% {
		width: 65%;
	}
}

@keyframes texturing {
	0% {
		width: 0%;
	}

	100% {
		width: 90%;
	}
}

@keyframes rigging {
	0% {
		width: 0%;
	}

	100% {
		width: 50%;
	}
}

@keyframes danimation {
	0% {
		width: 0%;
	}

	100% {
		width: 65%;
	}
}

@keyframes fl20 {
	0% {
		width: 0%;
	}

	100% {
		width: 72%;
	}
}

@keyframes liverec {
	0% {
		width: 0%;
	}

	100% {
		width: 35%;
	}
}

@keyframes eq {
	0% {
		width: 0%;
	}

	100% {
		width: 20%;
	}
}

@keyframes production {
	0% {
		width: 0%;
	}

	100% {
		width: 45%;
	}
}
